#container {
    display: grid;
    grid-template-areas: 
    "H H H H"
    "M M M M"
    "M M M M"
    "F F F F";
    grid-template-columns: 2fr 2fr 2fr 2fr;
}
.image-container {
  position: relative;
  width: 100%;
  /* margin: 2% 0; */
}

.image-container img {
  width: 100%;
  height: auto;
}
.caption {
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  padding: 5px 10px;
  position: absolute;
  bottom: 5px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}