#container {
    display: grid;
    grid-template-areas: 
    "H H H H"
    "M M M M"
    "M M M M"
    "F F F F";
    grid-template-columns: 2fr 2fr 2fr 2fr;
}
.image-container {
  position: relative;
  width: 100%;
  /* margin: 2% 0; */
}

.image-container img {
  width: 100%;
  height: auto;
}
.caption {
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  padding: 5px 10px;
  position: absolute;
  bottom: 5px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
section.about {
  font-size: 20px;
  padding: 0 20px
}
section.about img {
  display: block;
  margin: auto;
  border-radius: 10px;
  padding: 10px;
}
section.about div.newsletter {
  text-align: center;
  margin-top: 10px;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
}
section.about div.newsletter input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #0A1A2F;
  border-radius: 5px;
  width: 300px;
  max-width: 80%;
}
section.about button {
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    z-index: 0;
    border-radius: 10px;
    background-color: #0A1A2F;
    color: white;
}
section.whyHome {
  font-size: 20px;
  padding: 0 20px
}
section.whyHome img {
  display: block;
  margin: auto;
  border-radius: 10px;
  padding: 10px;
}