#container {
    display: grid;
    grid-template-areas: 
    "H H H H"
    "M M M M"
    "M M M M"
    "F F F F";
    grid-template-columns: 2fr 2fr 2fr 2fr;
}
.image-container {
  position: relative;
  width: 100%;
  /* margin: 2% 0; */
}

.image-container img {
  width: 100%;
  height: auto;
}
.caption {
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  padding: 5px 10px;
  position: absolute;
  bottom: 5px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
section.about {
  font-size: 20px;
  padding: 0 20px
}
section.about img {
  display: block;
  margin: auto;
  border-radius: 10px;
  padding: 10px;
}
section.about div.newsletter {
  text-align: center;
  margin-top: 10px;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
}
section.about div.newsletter input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #0A1A2F;
  border-radius: 5px;
  width: 300px;
  max-width: 80%;
}
section.about button {
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    z-index: 0;
    border-radius: 10px;
    background-color: #0A1A2F;
    color: white;
}
section.whyHome {
  font-size: 20px;
  padding: 0 20px
}
section.whyHome img {
  display: block;
  margin: auto;
  border-radius: 10px;
  padding: 10px;
}
/* Tablet */
@media (max-width: 768px) {
    section.about img, section.whyHome img {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        width: 80%;
        height: auto;
    }    
    header  {
        position: relative;
    }
    section.sales img {
        width: 80%;
        height: auto;
    }
    section.sales {
        grid-template-columns: 1fr;
        max-width: 90%;
        margin: 0 auto;
    }
    section.lpHist button {
        position: static;
        margin: 20px auto;
        display: block;
        z-index: 1000;
    }
    section.lpHist img.imgEnlarge {
        transition: 0.5s ease;
        transform: scale(1.125);
        margin-top: 40px;
        z-index: 0;
    }
    img#imgEnlarge {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: static;
    }
    section.lpImpact img {
        max-width: 90%;
    }
    
}
/* Phone */
@media (max-width: 480px) {
    section.sales img {
        width: 90%;
        height: auto;
    }
    section.sales {
        grid-template-columns: 1fr;
        max-width: 80%;
        margin: 0 auto;
    }
    button {
        position: static;
        margin: 20px auto;
        display: block;
    }
    img.imgEnlarge {
        transition: 0.5s ease;
        transform: scale(1.25);
        margin-top: 40px;
        z-index: 10000;
    }
    header {
        position: relative;
    }
    header h1, header p {
        display: none;
    }
    nav ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: auto;
        padding: auto ;
        justify-items: center;
        list-style-type: none;
        margin: 80px 0 auto 0;
    }
    header img#logo {
        position: absolute;
        display: block;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 5px;
        max-width: 15%;
        height: auto;
    }
}