section.stratHist h2{
    text-align: left;
    font-size: 30px;
}
section.stratHist p{
    margin-right: 20%;
    font-size: 20px;
    padding: 0 20px;
}
section.stratHist img#imgEnlarge {
    float: right;
    padding-right: 20px;
}
button {
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    position: absolute;
    z-index: 0;
    top: 500px;
    right: 20px;
    border-radius: 10px;
    background-color: #0A1A2F;
    color: white;
}
.stratHist {
    position: relative;
}
section.stratImpact h3 {
    text-align: left;
    font-size: 30px;
    margin-top: 100px;
}
section.stratImpact p{
    font-size: 20px;
    padding: 0 20px;
    margin-right: 20%;
}
section.stratImpact img {
    float: none;
    margin: auto;
    margin-right: 20px;
    margin-left: 20px;
}
section.stratLegacy h3 {
    text-align: left;
    font-size: 30px;
    margin-top: 100px;
}
section.stratLegacy p{
    font-size: 20px;
    padding: 0 20px;
    margin-right: 20%;
}
h2.sales {
    text-align: left;
    font-size: 30px;
}
section.sales {
    grid-area: S;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
    align-items: center;
}
section.sales h2 {
    font-size: 30px;
    text-align: center;
}
section.sales p {
    font-size: 18px;
    margin: 20px 40px;
}
section.sales img{
    display: block;
    margin: auto;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px;
}
#container {
    display: grid;
    grid-template-areas: 
    "H H H H"
    "M M M M"
    "S S S S"
    "F F F F";
    grid-template-columns: 2fr 2fr 2fr 2fr;
}



