section.stratHist h2{
    text-align: left;
    font-size: 30px;
}
section.stratHist p{
    margin-right: 20%;
    font-size: 20px;
    padding: 0 20px;
}
section.stratHist img#imgEnlarge {
    float: right;
    padding-right: 20px;
}
button {
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    position: absolute;
    z-index: 0;
    top: 500px;
    right: 20px;
    border-radius: 10px;
    background-color: #0A1A2F;
    color: white;
}
.stratHist {
    position: relative;
}
section.stratImpact h3 {
    text-align: left;
    font-size: 30px;
    margin-top: 100px;
}
section.stratImpact p{
    font-size: 20px;
    padding: 0 20px;
    margin-right: 20%;
}
section.stratImpact img {
    display: block;
    float: none;
    margin: auto;
}
section.stratLegacy h3 {
    text-align: left;
    font-size: 30px;
}
section.stratLegacy p{
    font-size: 20px;
    padding: 0 20px;
    margin-right: 20%;
}
section.stratLegacy img {
    display: block;
    margin: auto;
}
h2.sales {
    text-align: left;
    font-size: 30px;
}
section.sales {
    grid-area: S;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
    align-items: center;
}
section.sales h2 {
    font-size: 30px;
    text-align: center;
}
section.sales p {
    font-size: 18px;
    margin: 20px 40px;
}
section.sales img{
    display: block;
    margin: auto;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px;
}
#container {
    display: grid;
    grid-template-areas: 
    "H H H H"
    "M M M M"
    "S S S S"
    "F F F F";
    grid-template-columns: 2fr 2fr 2fr 2fr;
}
/* Tablet */
@media (max-width: 768px) {
    section.stratHist img#imgEnlarge, section.stratImpact img, section.stratLegacy img {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        width: 80%;
        height: auto;
    }  
    header  {
        position: relative;
    }
    section.sales img {
        width: 80%;
        height: auto;
    }
    section.sales {
        grid-template-columns: 1fr;
        max-width: 90%;
        margin: 0 auto;
    }
    section.stratHist button {
        position: static;
        margin: 20px auto;
        display: block;
        z-index: 1000;
    }
    section.stratHist img.imgEnlarge {
        transition: 0.5s ease;
        transform: scale(1.125);
        margin-top: 40px;
        z-index: 0;
    }
    img#imgEnlarge {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: static;
    }
    section.stratImpact img {
        max-width: 90%;
    }
}
/* Phone */
@media (max-width: 480px) {
    section.sales img {
        width: 90%;
        height: auto;
    }
    section.sales {
        grid-template-columns: 1fr;
        max-width: 80%;
        margin: 0 auto;
    }
    button {
        position: static;
        margin: 20px auto;
        display: block;
    }
    
    img.imgEnlarge {
        transition: 0.5s ease;
        transform: scale(1.25);
        margin-top: 40px;
        z-index: 10000;
    }
    header {
        position: relative;
    }
    header h1, header p {
        display: none;
    }
    nav ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: auto;
        padding: auto ;
        justify-items: center;
        list-style-type: none;
        margin: 80px 0 auto 0;
    }
    header img#logo {
        position: absolute;
        display: block;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 5px;
        max-width: 15%;
        height: auto;
    }
}


